<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Servlets -->
	<servlet>
		<servlet-name>${classPrefix.toLowerCase()}Servlet</servlet-name>
		<servlet-class>${package}.server.${classPrefix}ServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>${classPrefix.toLowerCase()}Servlet</servlet-name>
		<url-pattern>/${gwtModule.toLowerCase()}/greet</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>${gwtModule}.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>gwt-handler</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gwt-handler</servlet-name>
		<url-pattern>*.gwtrpc</url-pattern>
	</servlet-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>search.html</welcome-file>
	</welcome-file-list>



	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/applicationContext.xml</param-value>
	</context-param>


</web-app>